.abierto {
    color: #1EB575;
}

.cerrado {
    color: #C91737;
}

.bi-star {
    color: #A4A3A0;
}

.bi-star-fill {
    color: #FCD340;
}

.bi-heart {
    color: #A4A3A0;
}

.bi-heart-fill {
    color: #FF9464;
}
