{% extends 'base.html' %}
{% block title %} Iniciar sesión {% endblock title %}
{% block content %}
{% load static %}
{% block estilos-login %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
<body>
<div class="container w-75 bg-light mt-5 rounded shadow">
    <div class="row align-items-stretch">
        <div class="col bg-white p-5 rounded-start left-side">
            <h2 class="fw-bold text-center py-5"> Autenticación </h2>
            <form method="post">
                {% csrf_token %}
                <div class="mx-5">
                    <p class="lead mb-4"> Hemos enviado un código de verificación al correo registrado. Por favor
                        ingresalo a continuación para corroborar tu identidad.
                    </p>
                </div>
                <div class="mx-5 mb-2 mt-5">
                    {{ form.as_p }}
                </div>
                <div class="my-3 text-center mb-5">
                    <span><a href="#">Enviar un nuevo código de autenticación</a></span>
                </div>
                <div class="row mx-auto mb-5">
                    <div class="col">
                        <a href="{% url 'home' %}" class="btn btn-secondary w-75 float-end">Regresar</a>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary w-75 ">Registrarse</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded right-side">
            <div class="text-center align-items-center pt-5 align-items-center mt-4">
                <img src="{% static 'resources/logo_afforox.png' %}" class="img-fluid pt-5">
                <h1 class="fw-bold mt-3">Afforox</h1>
                <h2 class="fw-light mt-4">Control en la nueva normalidad</h2>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock content %}