{% extends 'base.html' %}
{% block title %} Iniciar sesión {% endblock title %}
{% block content %}
{% load static %}
{% block estilos-login %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}
<body>
<div class="row align-items-stretch">
    <div class="col d-none d-lg-block col-md-5 col-lg-5 col-xl-6">
    </div>
    <div class="col bg-white p-4">
        <h2 class="fw-bold text-center pt-5">¡Bienvenido a Afforox!</h2>
        <h3 class="fw-light text-center pb-5">Completa tu registro para crear tu cuenta</h3>
        <form class="w-75 mx-auto mb-5">
            <div class="row mx-auto mb-3">
                <div class="col">
                    <label class="form-label">{{ form_user.nombre_completo.label }}</label>
                    {{ form_user.nombre_completo }}
                </div>
                <div class="col">
                    <label class="form-label">{{ form_user.correo_electrónico.label }}</label>
                    {{ form_user.correo_electrónico }}
                </div>
            </div>
            <div class="row mx-auto mb-3">
                <div class="col">
                    <label class="form-label">{{ form_user.fecha_de_nacimiento.label }}</label>
                    {{ form_user.fecha_de_nacimiento }}
                </div>
                <div class="col">
                    <label class="form-label">{{ form_user.edad.label }}</label>
                    {{ form_user.edad }}
                </div>
            </div>
            <div class="row mx-auto mb-3">
                <div class="col">
                    <label class="form-label ">{{ form_user.número_de_télefono.label }}</label>
                    {{ form_user.número_de_télefono }}
                </div>
                <div class="col">
                    <label class="form-label ">{{ form_address.país.label }}</label>
                    {{ form_address.país }}
                </div>
            </div>
            <div class="row mx-auto mb-3">
                <div class="col">
                    <label class="form-label ">{{ form_address.estado.label }}</label>
                    {{ form_address.estado }}
                </div>
                <div class="col">
                    <label class="form-label ">{{ form_address.ciudad.label }}</label>
                    {{ form_address.ciudad }}
                </div>
            </div>
            <div class="row mx-auto mb-3">
                <div class="col">
                    <label class="form-label ">{{ form_address.calle.label }}</label>
                    {{ form_address.calle }}
                </div>
                <div class="col">
                    <label class="form-label ">{{ form_address.número_interior.label }}</label>
                    {{ form_address.número_interior }}
                </div>
            </div>
            <div class="row mx-auto mb-3">
                <div class="col">
                    <label class="form-label ">{{ form_address.número_exterior.label }}</label>
                    {{ form_address.número_exterior }}
                </div>
                <div class="col">
                    <label class="form-label ">{{ form_address.colonia.label }}</label>
                    {{ form_address.colonia }}
                </div>
            </div>
            <div class="row mx-auto mb-5">
                <div class="col">
                    <label class="form-label ">{{ form_user.contraseña.label }}</label>
                    {{ form_user.contraseña }}
                </div>
                <div class="col">
                    <label class="form-label ">Confirma tu contraseña</label>
                    <input type="password" class="form-control">
                </div>
            </div>
            <div class="row mx-auto">
                <div class="col">
                    <button type="button" onclick="window.history.go(-1); return false;"
                            class="btn btn-secondary w-75 float-end ">Regresar
                    </button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary w-75 ">Iniciar sesión</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
{% endblock content %}